@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);

* {
    box-sizing: border-box;
}

#project {
    float: left;
    margin: 15px auto;
    width: 100%;
}

#info input {
    margin: 10px;
    width: 95%;

}

#project li {
    font-size: 15px;
    margin: 13px 0px 0px 0px;

}

#diffattr {
    float: left;
    width: 40%;
}

#diffattr li {
    font-size: 15px;
    margin: 20px 0px 80px 0px;

}

#diffinfo {
    float: left;
    width: 60%;
}

#att {
    float: left;
    width: 40%;
}

#info {
    float: left;
    width: 60%;
}
#diffinfo textarea{
    margin: 10px;
}

#header ul {
    font-size: 0;
    position: relative;
    padding: 0;
    width: 100%;
    margin: 2px auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#header li {
    display: inline-block;
    width: 20%;
    height: 60px;
    background: #39CCCC;
    font-size: 16px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#header .slider {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background: yellow;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

/*  Ripple */

.ripple {
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
    -webkit-transform: scale(0);
    transform: scale(0);
    position: absolute;
    opacity: 1;
}

.rippleEffect {
    -webkit-animation: rippleDrop .6s linear;
    animation: rippleDrop .6s linear;
}

@-webkit-keyframes rippleDrop {
    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes rippleDrop {
    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0;
    }
}